#container {
    background: #fbfbfb;
}
.isenselabs-module {}

.isl-module-content {
    color: #333;
    font-size: 13px;
    line-height: 1.6;
}
.isl-module-content h1, .isl-module-content h2, .isl-module-content h3, .isl-module-content h4, .isl-module-content h5, .isl-module-content h6,
.isl-module-content .h1, .isl-module-content .h2, .isl-module-content .h3, .isl-module-content .h4, .isl-module-content .h5, .isl-module-content .h6 {
    color: #383838;
}

.isl-module-content .form-control {
    color: #444;
}


/* General and Nav
 ===================== */

.isl-module-content ul:last-child,
.isl-module-content ol:last-child,
.isl-module-content .panel:last-child {
    margin-bottom: 0;
}

.isl-module-content .page-header,
.isl-module-content .breadcrumb {
    margin-bottom: 0;
}
.isl-module-content .page-header {
    border: 0;
    margin: 20px 0 25px 0;
}
.isl-module-content .page-header h1 {
    margin: 0;
}

.isl-module-content .panel-default {
    border: 1px solid #dcdcdc;
    border-top: 3px solid #bbb;
}
.isl-module-content .panel-default .panel-heading {
    border-color: #dcdcdc;
}
.isl-module-content .panel-body {
    padding: 10px 8px;
}
.isl-module-content .panel-body .panel-heading {
    font-weight: bold;
    font-size: 14px;
    padding: 3px 10px;
}
.isl-module-content .page-content > .panel-body {
    padding: 15px;
}

#isense_support .box-heading h3 {
    margin-bottom: 20px;
}

.tab-navigation {
    margin-bottom: 25px;
}
.isl-main-nav {
    background: #f2f2f2;
    padding: 8px 15px 0 15px;
    margin: -15px -15px 0;
    border-bottom: 1px solid #d2d2d2;
}
.isl-main-nav > li + li {
    margin-left: 5px;
}
.isl-main-nav > li > a {
    color: #555;
    padding: 7px 20px;
    min-width: 80px;
    text-align: center;
    border-radius: 5px 5px 0 0;
}
.isl-main-nav > li > a:hover,
.isl-main-nav > li > a:focus {
    background-color: #e4e4e4;
    border-color: #e4e4e4 #e4e4e4 #d2d2d2;
}
.isl-main-nav > li.active > a,
.isl-main-nav > li.active > a:hover,
.isl-main-nav > li.active > a:focus {
    font-weight: normal;
    border-color: #ccc;
    border-bottom-color: transparent;
}

.isl-module-content div[class*='alert-'] {
    font-family: 'Open Sans', arial, sans-serif;
    color: #333;
    padding: 10px 15px;
    margin: 0 auto 20px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,.08);
}
.isl-module-content .alert-danger {
    background-color: #f9e8e8;
    border-left: 4px solid #d00 !important;
}
.isl-module-content .alert-success {
    background-color: #eef9e5;
    border-left: 4px solid #28ab0e !important;
}
.isl-module-content .alert-warning {
    background-color: #fffbed;
    border-left: 4px solid #ef9a07 !important;
}

.unlicensed h4 {
    font-size: 18px;
}
.unlicensed p {}
.unlicensed .btn {
    margin-top: 10px;
    padding: 6px 15px;
}

.isenselabs-module .breadcrumb li a {
    font-size: 13px;
    padding: 0;
    margin: 0;
}

.isenselabs-module .tooltip-inner {
    text-align: left;
    background-color: #222;
}


/* Forms
 ===================== */

.isl-form-legend {
    font-size: 22px;
    margin-bottom: 10px;
}
* + .isl-form-legend {
    margin-top: 20px;
}
.isl-form-legend + .isl-hr {
    margin: 0 0 25px;
}

.isl-module-content .form-control:not(.input-sm):not(textarea) {
    font-size: 13px;
    line-height: 1;
    height: 32px;
    padding: 6px 10px;
}
.isl-module-content select.form-control {
    padding: 6px 6px !important;
}
.isl-module-content .input-sm {
    padding: 4px;
    font-size: 12px;
}
.isl-module-content .radio,
.isl-module-content .checkbox {
    margin-right: 5px;
    padding-top: 5px;
}
.isl-module-content input[type="radio"],
.isl-module-content .radio input[type="radio"] {
    top: 3px;
    margin-right: 5px;
}
.isl-module-content label input[type="checkbox"] {
    top: 2px;
    margin-right: 3px;
}

.isl-module-content .form-group {
    padding: 0;
    margin: 0;
}
.isl-module-content .form-group:last-child {
    padding-bottom: 30px;
}
.isl-module-content .form-group + .form-group {
    border: 0;
    margin-top: 20px;
}
.isl-module-content .control-label {
    text-align: left;
}

.entry-layout-info {
    padding: 5px 10px;
    margin: 0;
    margin-top: 15px;
}
.entry-layout-info .table {
    font-size: 12px;
}
.entry-layout-info .table th,
.entry-layout-info .table td {
    padding: 4px 6px !important;
}


/* Listing table
 ===================== */

.items-list {

}
.items-list .text-danger {
    color: #d40;
    font-weight: 600;
}
.list-no-content {
    font-size: 13px;
    text-align: center;
    padding: 30px !important;
}

/* Misc
 ===================== */

.isl-hr {
    margin: 30px 0;
    border-top: 1px solid #ccc;
    border-bottom: 5px solid #f4f4f4;
}
.isl-list {
    padding-left: 20px;
}
.isl-margin + .isl-margin {
    margin-top: 10px;
}
.isl-block {
    display: block;
}
.isl-inline-block {
    display: inline-block;
}

.isl-p0 {
    padding: 0 !important;
}
.isl-p5 {
    padding: 5px !important;
}
.isl-p10 {
    padding: 10px !important;
}
.isl-p15 {
    padding: 15px !important;
}
.isl-p20 {
    padding: 20px !important;
}

.isl-mh-5 {
    margin: 0 5px;
}
.isl-mr-5 {
    margin-right: 5px;
}
.isl-mr-10 {
    margin-right: 10px;
}
.isl-ml-5 {
    margin-left: 5px;
}
.isl-mt-5 {
    margin-top: 5px;
}
.isl-mt-10 {
    margin-top: 10px;
}
.isl-mt-15 {
    margin-top: 15px;
}
.isl-mt-20 {
    margin-top: 20px;
}
.isl-mb-5 {
    margin-bottom: 5px;
}
.isl-mb-10 {
    margin-bottom: 10px;
}
.isl-mb-15 {
    margin-bottom: 15px;
}
.isl-mb-20 {
    margin-bottom: 20px;
}

.isl-w-50 {
    width: 50px;
}
.isl-w-100 {
    width: 100px;
}
.isl-w-150 {
    width: 150px;
}
.isl-w-200 {
    width: 200px;
}
.isl-w-250 {
    width: 250px;
}
.isl-w-300 {
    width: 300px;
}
.isl-w-400 {
    width: 400px;
}
.isl-w-500 {
    width: 500px;
}

.pointer {
    cursor: pointer;
}

.pagination > li > a,
.pagination > li > span {
    font-size: 12px;
    padding: 4px 8px;
}


/* Ext module specific
 ===================== */
